<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Huihuinga</title>


    <environment include="Development">
        <!-- PLUGINS CSS STYLE -->
        <!-- Bootstrap -->
        <link href="~/conferencecss/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/conferencecss/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Magnific Popup -->
        <link href="~/conferencecss/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
        <!-- Slick Carousel -->
        <link href="~/conferencecss/plugins/slick/slick.css" rel="stylesheet">
        <link href="~/conferencecss/plugins/slick/slick-theme.css" rel="stylesheet">
        <!-- CUSTOM CSS -->
        <link href="~/conferencecss/css/style.css" rel="stylesheet">
    </environment>


</head>

<body class="body-wrapper">


    <!--========================================
    =            Navigation Section            =
    =========================================-->

    <nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
        <div class="container-fluid p-0">
            <!-- logo -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Huihuinga</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="EventCenter" asp-action="Index">
                            Centros de Evento
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Conference" asp-action="Index">
                            Conferencias
                        </a>
                    </li>

                    <li class="nav-item dropdown dropdown-slide">
                        <a class="nav-link" href="#" data-toggle="dropdown">
                            Eventos Independientes
                        </a>
                        <!-- Dropdown list -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Party" asp-action="Index">Fiestas</a>
                            <a class="dropdown-item" asp-controller="Meal" asp-action="Index">Comidas</a>
                            <a class="dropdown-item" asp-controller="Chat" asp-action="Index">Chats</a>
                            <a class="dropdown-item" asp-controller="Talk" asp-action="Index">Charlas</a>
                            <a class="dropdown-item" asp-controller="PracticalSession" asp-action="Index">Sesiones Prácticas</a>
                        </div>
                    </li>





                </ul>
                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--============================
    =            Footer            =
    =============================-->

    <footer class="footer-main">
    </footer>
    <!-- Subfooter -->
    <footer class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="copyright-text">
                        <p><a asp-area="" asp-controller="Home" asp-action="Index">Huihuinga</a> &#169; 2019 All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====  End of Navigation Section  ====-->
    <!-- JAVASCRIPTS -->
    <!-- jQuey -->
    <script src="~/conferencecss/plugins/jquery/jquery.js"></script>
    <!-- Popper js -->
    <script src="~/conferencecss/plugins/popper/popper.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/conferencecss/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Smooth Scroll -->
    <script src="~/conferencecss/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <!-- Isotope -->
    <script src="~/conferencecss/plugins/isotope/mixitup.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/conferencecss/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Slick Carousel -->
    <script src="~/conferencecss/plugins/slick/slick.min.js"></script>
    <!-- SyoTimer -->
    <script src="~/conferencecss/plugins/syotimer/jquery.syotimer.min.js"></script>
    <!-- Custom Script -->
    <script src="~/conferencecss/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>

<!--<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Huihuinga</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Huihuinga - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
    -->

</html>
