@{
    ViewData["Title"] = "Home Page";
}

<!--============================
    =            Banner            =
    =============================-->
<section class="banner bg-banner-one overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Content Block -->
                <div class="block">
                    <h1>Huihuinga</h1>
                    <h6>El mejor sitio para organizar tus conferencias</h6>
                </div>
            </div>
        </div>
    </div>
</section>
