@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<section class="section contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3><span class="alternate">Ingresar</span></h3>
                </div>
            </div>
        </div>
        <form id="account" method="post" class="row">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="Input.Email">Correo</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Input.Password">Contraseña</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-main-md">Ingresar</button>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    <a class="btn btn-main-md" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                </p>
            </div>
        </form>
    </div>
</section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
