@model Huihuinga.Models.ConcreteConferenceCreateViewModel

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3><span class="alternate">Nueva Versión Conferencia</span></h3>
                </div>
            </div>
        </div>
        <form enctype="multipart/form-data" asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label class="control-label">name</label>
                <input name="name" id="name" class="form-control" />
                <input asp-for="abstractConferenceId" class="form-control" type="hidden" value=@ViewData["abstractConferenceId"] />
            </div>
            <div class="col-md-12">
                <label class="control-label">Maximo Asistentes</label>
                <input name="Maxassistants" id="Maxassistants" class="form-control" />
            </div>
            <div class="col-md-12">
                <label class="control-label">starttime</label>
                <input name="starttime" id="starttime" class="form-control" type="datetime-local" />

            </div>
            <div class="col-md-12">
                <label class="control-label">endtime</label>
                <input name="endtime" id="endtime" class="form-control" type="datetime-local" />
            </div>
            <div class="col-md-12">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>


<div class="col-md-12 text-center">
    <a asp-controller="Conference" asp-action="Details" asp-route-id=@ViewData["abstractConferenceId"]>Volver</a>
</div>