
@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Feedbacks</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            @foreach (string comment in (List<string>)ViewData["Comments"])
            {
                <div class="col-lg-4 col-md-6 mb-20">
                    <!-- Testimonial -->
                    <div class="testimonial-item">
                        <!-- Given Comment -->
                        <div class="comment">
                            <p>@comment</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<div class="col-12 text-center">
    <nav class="d-flex justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="subscribe-button">
                <a class="btn btn-main-md" asp-action="Details" asp-route-id=@ViewData["concreteConference_id"]>Volver</a>
            </div>
        </div>
    </nav>

</div>

@section Scripts{

    <script type="text/javascript">

        google.charts.load('current', {
            packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(LoadData);

        function LoadData() {
            $.ajax({

                url: '/ConcreteConference/GetQualities/@ViewData["concreteConference_id"]',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    if (data.list.length == 0) {
                        return false
                    }
                    drawChart(data);
                    return false;
                }
            });
            return false;
        }

        function drawChart(data) {
            var dataArray = [
                ['Item', 'Rating']
            ];

            console.log(data.list)
            $.each(data.list, function (i, item) {
                dataArray.push([item.label, item.quality]);
            });

            // console.log(dataArray)

            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'Promedio de Ratings de la Instancia',
                chartArea: {
                    width: '70%'
                },
                colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
                hAxis: {
                    title: 'Rating'
                },
                vAxis: {
                    title: 'Item',
                    maxValue:10
                }
            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);

            return false;
        }
    </script>
}
