@model Huihuinga.Models.EventCenter
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3><span class="alternate">Editar Centro de Eventos</span></h3>
                </div>
            </div>
        </div>
        <form asp-controller="EventCenter" asp-action="Update" method="Post" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="PhotoPath"/>
            <input hidden asp-for="id" />
            <div class="col-md-12">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>

            <div class="col-12 text-center">
                <input type="submit" value="Editar" class="btn btn-main-md" />
            </div>
        </form>
    </div>
</section>

<div class="col-md-12 text-center">
    <a asp-action="Index">Back to List</a>
</div>