
@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Feedbacks</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="chart_div"></div>
            </div>
        </div>
        <div class="row mt-20">
            @foreach (string comment in (List<string>)ViewData["Comments"])
            {
                <div class="col-lg-4 col-md-6 mb-20">
                    <!-- Testimonial -->
                    <div class="testimonial-item">
                        <!-- Given Comment -->
                        <div class="comment">
                            <p>@comment</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<div class="col-12 text-center">
    <nav class="d-flex justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="subscribe-button">
                <a class="btn btn-main-md" asp-action="Details" asp-route-id=@ViewData["conference_id"]>Volver</a>
            </div>
        </div>
    </nav>

</div>



@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['line', 'corechart'] });
        google.charts.setOnLoadCallback(LoadData);

        function LoadData() {  
            $.ajax({  
  
                url: '/Conference/GetChartRows/@ViewData["conference_id"]',  
                dataType: "json",  
                type: "GET",  
                error: function (xhr, status, error) {  
                    var err = eval("(" + xhr.responseText + ")");  
                    toastr.error(err.message);  
                },  
                success: function (data) {  
                    drawChart(data);  
                    return false;  
                }  
            });  
            return false;  
        } 

        function drawChart(data) {

            //var dataArray = [['Fecha', 'Calidad comida', 'Música', 'Lugar', 'Valoración discusiones', 'Calidad material', 'Nivel expositores']];
            //$.each(data, function (i, item) {
            //    dataArray.push([item.cityName, item.populationYear2020, item.populationYear2010, item.populationYear2000, item.populationYear1990]);
            //});
            var data = google.visualization.arrayToDataTable(data);
            var options = {
                title: 'Evolución ratings en distintas versiones',
                hAxis: {
                    title: 'Fecha'
                },
                vAxis: {
                    title: 'Puntuación'
                },
                legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);

            
            return false;
        }

    </script>
}