@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Fiestas</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news section">
    <div class="container">
        <div class="row mt-30">
            @foreach (var party in Model.Parties)
            {

                var ruta = "~/images/" + party.PhotoPath;
                if (party.PhotoPath == null)
                {
                    ruta = "~/conferencecss/images/centro-evento.jpg";
                }
                <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                    <div class="blog-post">
                        <div class="post-thumb">
                            <a asp-action="NewFeedback" asp-route-eventid="@party.id">
                                <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h2>@party.name</h2>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center">
                <nav class="d-flex justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="subscribe-button">
                            <a class="btn btn-main-md" asp-controller="Party" asp-action="Index">Volver a las fiestas</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</section>
