@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

    <section class="section contact-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3><span class="alternate">Perfil</span></h3>
                    </div>
                </div>
            </div>
            <form id="profile-form" method="post" class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-12">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="col-md-12">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12 text-center">
                    <button id="update-profile-button" type="submit" class="btn btn-main-md">Save</button>
                </div>
            </form>
            </div>
    </section>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
