@model Huihuinga.Models.ChatCreateViewModel

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3><span class="alternate">Nuevo Chat</span></h3>
                </div>
            </div>
        </div>
        <form enctype="multipart/form-data" asp-controller="Chat" asp-action="Create" method="Post" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
            </div>

            <div class="col-md-12">
                <label asp-for="starttime" class="control-label"></label>
                <input asp-for="starttime" class="form-control" />
                <span asp-validation-for="starttime" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="endtime" class="control-label"></label>
                <input asp-for="endtime" class="form-control" />
                <span asp-validation-for="endtime" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label class="control-label">Hallid</label>
                <select name="Hallid" id="Hallid" asp-items=@(new SelectList(Model.Halls,"id","name"))></select>

            </div>

            <div class="col-12 text-center">
                <input type="submit" value="Create" class="btn btn-main-md" />
            </div>
        </form>
    </div>
</section>

<div class="col-md-12 text-center">
    <a asp-action="Index">Back to List</a>
</div>